@import '../variables';
@import '../mixins';
@import '../animation-mixins';

@keyframes ball-beat2 {
  50% {
    opacity: 0.2;
    transform: scale(0.75);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.ball-beat2 {

  > div {
    @include balls();
    @include global-animation();

    display: inline-block;
//    animation: ball-beat2 0.7s 0s infinite linear;
    @include animation-name(ball-beat2);
    @include animation-duration(0.7s);
//    @include animation-timing-function();
    @include animation-delay(0s);
    @include animation-iteration-count(infinite);
    @include animation-direction(linear);
//    @include animation-fill-mode();
//    @include animation-play-state();


    &:nth-child(2n-1) {
//      animation-delay: 0.35s !important;
      @include animation-delay(0.35s  !important);
    }
  }
}
