@keyframes scale {
  /* line 5, ../src/animations/ball-pulse.scss */
  0% {
    transform: scale(1);
    opacity: 1;
  }

  /* line 9, ../src/animations/ball-pulse.scss */
  45% {
    transform: scale(0.1);
    opacity: 0.7;
  }

  /* line 13, ../src/animations/ball-pulse.scss */
  80% {
    transform: scale(1);
    opacity: 1;
  }
}

/* line 22, ../src/animations/ball-pulse.scss */
.ball-pulse > div:nth-child(0) {
  animation: scale 0.75s 0s infinite cubic-bezier(0.2, 0.68, 0.18, 1.08);
}
/* line 22, ../src/animations/ball-pulse.scss */
.ball-pulse > div:nth-child(1) {
  animation: scale 0.75s 0.12s infinite cubic-bezier(0.2, 0.68, 0.18, 1.08);
}
/* line 22, ../src/animations/ball-pulse.scss */
.ball-pulse > div:nth-child(2) {
  animation: scale 0.75s 0.24s infinite cubic-bezier(0.2, 0.68, 0.18, 1.08);
}
/* line 22, ../src/animations/ball-pulse.scss */
.ball-pulse > div:nth-child(3) {
  animation: scale 0.75s 0.36s infinite cubic-bezier(0.2, 0.68, 0.18, 1.08);
}
/* line 31, ../src/animations/ball-pulse.scss */
.ball-pulse > div {
  background-color: white;
  width: 15px;
  height: 15px;
  border-radius: 100%;
  margin: 2px;
  animation-fill-mode: both;
  display: inline-block;
}
