@keyframes ball-pulse-rise-even {
  /* line 7, ../src/animations/ball-pulse-rise.scss */
  0% {
    transform: scale(1.1);
  }

  /* line 10, ../src/animations/ball-pulse-rise.scss */
  25% {
    transform: translateY(-30px);
  }

  /* line 13, ../src/animations/ball-pulse-rise.scss */
  50% {
    transform: scale(0.4);
  }

  /* line 16, ../src/animations/ball-pulse-rise.scss */
  75% {
    transform: translateY(30px);
  }

  /* line 19, ../src/animations/ball-pulse-rise.scss */
  100% {
    transform: translateY(0);
    transform: scale(1);
  }
}

@keyframes ball-pulse-rise-odd {
  /* line 26, ../src/animations/ball-pulse-rise.scss */
  0% {
    transform: scale(0.4);
  }

  /* line 29, ../src/animations/ball-pulse-rise.scss */
  25% {
    transform: translateY(30px);
  }

  /* line 32, ../src/animations/ball-pulse-rise.scss */
  50% {
    transform: scale(1.1);
  }

  /* line 35, ../src/animations/ball-pulse-rise.scss */
  75% {
    transform: translateY(-30px);
  }

  /* line 38, ../src/animations/ball-pulse-rise.scss */
  100% {
    transform: translateY(0);
    transform: scale(0.75);
  }
}

/* line 46, ../src/animations/ball-pulse-rise.scss */
.ball-pulse-rise > div {
  background-color: white;
  width: 15px;
  height: 15px;
  border-radius: 100%;
  margin: 2px;
  animation-fill-mode: both;
  display: inline-block;
  animation-duration: 1s;
  animation-timing-function: cubic-bezier(0.15, 0.46, 0.9, 0.6);
  animation-iteration-count: infinite;
  animation-delay: 0;
}
/* line 56, ../src/animations/ball-pulse-rise.scss */
.ball-pulse-rise > div:nth-child(2n) {
  animation-name: ball-pulse-rise-even;
}
/* line 60, ../src/animations/ball-pulse-rise.scss */
.ball-pulse-rise > div:nth-child(2n-1) {
  animation-name: ball-pulse-rise-odd;
}
