@keyframes ball-beat {
  /* line 5, ../src/animations/ball-beat.scss */
  50% {
    opacity: 0.2;
    transform: scale(0.75);
  }

  /* line 9, ../src/animations/ball-beat.scss */
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

/* line 17, ../src/animations/ball-beat.scss */
.ball-beat > div {
  background-color: white;
  width: 15px;
  height: 15px;
  border-radius: 100%;
  margin: 2px;
  animation-fill-mode: both;
  display: inline-block;
  animation: ball-beat 0.7s 0s infinite linear;
}
/* line 24, ../src/animations/ball-beat.scss */
.ball-beat > div:nth-child(2n-1) {
  animation-delay: 0.35s !important;
}
