@keyframes ball-pulse-sync {
  /* line 7, ../src/animations/ball-pulse-sync.scss */
  33% {
    transform: translateY(10px);
  }

  /* line 10, ../src/animations/ball-pulse-sync.scss */
  66% {
    transform: translateY(-10px);
  }

  /* line 13, ../src/animations/ball-pulse-sync.scss */
  100% {
    transform: translateY(0);
  }
}

/* line 20, ../src/animations/ball-pulse-sync.scss */
.ball-pulse-sync > div:nth-child(0) {
  animation: ball-pulse-sync 0.6s 0s infinite ease-in-out;
}
/* line 20, ../src/animations/ball-pulse-sync.scss */
.ball-pulse-sync > div:nth-child(1) {
  animation: ball-pulse-sync 0.6s 0.07s infinite ease-in-out;
}
/* line 20, ../src/animations/ball-pulse-sync.scss */
.ball-pulse-sync > div:nth-child(2) {
  animation: ball-pulse-sync 0.6s 0.14s infinite ease-in-out;
}
/* line 20, ../src/animations/ball-pulse-sync.scss */
.ball-pulse-sync > div:nth-child(3) {
  animation: ball-pulse-sync 0.6s 0.21s infinite ease-in-out;
}
/* line 29, ../src/animations/ball-pulse-sync.scss */
.ball-pulse-sync > div {
  background-color: white;
  width: 15px;
  height: 15px;
  border-radius: 100%;
  margin: 2px;
  animation-fill-mode: both;
  display: inline-block;
}
