@keyframes rotate {
  /* line 5, ../src/animations/ball-rotate.scss */
  0% {
    transform: rotate(0deg);
  }

  /* line 8, ../src/animations/ball-rotate.scss */
  50% {
    transform: rotate(180deg);
  }

  /* line 11, ../src/animations/ball-rotate.scss */
  100% {
    transform: rotate(360deg);
  }
}

/* line 16, ../src/animations/ball-rotate.scss */
.ball-rotate {
  position: relative;
}
/* line 19, ../src/animations/ball-rotate.scss */
.ball-rotate > div {
  background-color: white;
  width: 15px;
  height: 15px;
  border-radius: 100%;
  margin: 2px;
  animation-fill-mode: both;
  position: relative;
}
/* line 25, ../src/animations/ball-rotate.scss */
.ball-rotate > div:first-child {
  animation: rotate 1s 0s cubic-bezier(0.7, -0.13, 0.22, 0.86) infinite;
}
/* line 29, ../src/animations/ball-rotate.scss */
.ball-rotate > div:before, .ball-rotate > div:after {
  background-color: white;
  width: 15px;
  height: 15px;
  border-radius: 100%;
  margin: 2px;
  content: "";
  position: absolute;
  opacity: 0.8;
}
/* line 37, ../src/animations/ball-rotate.scss */
.ball-rotate > div:before {
  top: 0px;
  left: -28px;
}
/* line 42, ../src/animations/ball-rotate.scss */
.ball-rotate > div:after {
  top: 0px;
  left: 25px;
}
