@keyframes ball-spin-loader {
  /* line 7, ../src/animations/ball-spin-loader.scss */
  75% {
    opacity: 0.2;
  }

  /* line 10, ../src/animations/ball-spin-loader.scss */
  100% {
    opacity: 1;
  }
}

/* line 52, ../src/animations/ball-spin-loader.scss */
.ball-spin-loader {
  position: relative;
}
/* line 17, ../src/animations/ball-spin-loader.scss */
.ball-spin-loader > span:nth-child(1) {
  top: 45px;
  left: 0;
  animation: ball-spin-loader 2s 0.9s infinite linear;
}
/* line 17, ../src/animations/ball-spin-loader.scss */
.ball-spin-loader > span:nth-child(2) {
  top: 30.68182px;
  left: 30.68182px;
  animation: ball-spin-loader 2s 1.8s infinite linear;
}
/* line 17, ../src/animations/ball-spin-loader.scss */
.ball-spin-loader > span:nth-child(3) {
  top: 0;
  left: 45px;
  animation: ball-spin-loader 2s 2.7s infinite linear;
}
/* line 17, ../src/animations/ball-spin-loader.scss */
.ball-spin-loader > span:nth-child(4) {
  top: -30.68182px;
  left: 30.68182px;
  animation: ball-spin-loader 2s 3.6s infinite linear;
}
/* line 17, ../src/animations/ball-spin-loader.scss */
.ball-spin-loader > span:nth-child(5) {
  top: -45px;
  left: 0;
  animation: ball-spin-loader 2s 4.5s infinite linear;
}
/* line 17, ../src/animations/ball-spin-loader.scss */
.ball-spin-loader > span:nth-child(6) {
  top: -30.68182px;
  left: -30.68182px;
  animation: ball-spin-loader 2s 5.4s infinite linear;
}
/* line 17, ../src/animations/ball-spin-loader.scss */
.ball-spin-loader > span:nth-child(7) {
  top: 0;
  left: -45px;
  animation: ball-spin-loader 2s 6.3s infinite linear;
}
/* line 17, ../src/animations/ball-spin-loader.scss */
.ball-spin-loader > span:nth-child(8) {
  top: 30.68182px;
  left: -30.68182px;
  animation: ball-spin-loader 2s 7.2s infinite linear;
}
/* line 56, ../src/animations/ball-spin-loader.scss */
.ball-spin-loader > div {
  animation-fill-mode: both;
  position: absolute;
  width: 15px;
  height: 15px;
  border-radius: 100%;
  background: green;
}
