@keyframes ball-zig {
  /* line 7, ../src/animations/ball-zig-zag.scss */
  33% {
    transform: translate(-15px, -30px);
  }

  /* line 10, ../src/animations/ball-zig-zag.scss */
  66% {
    transform: translate(15px, -30px);
  }

  /* line 13, ../src/animations/ball-zig-zag.scss */
  100% {
    transform: translate(0, 0);
  }
}

@keyframes ball-zag {
  /* line 19, ../src/animations/ball-zig-zag.scss */
  33% {
    transform: translate(15px, 30px);
  }

  /* line 22, ../src/animations/ball-zig-zag.scss */
  66% {
    transform: translate(-15px, 30px);
  }

  /* line 25, ../src/animations/ball-zig-zag.scss */
  100% {
    transform: translate(0, 0);
  }
}

/* line 30, ../src/animations/ball-zig-zag.scss */
.ball-zig-zag {
  position: relative;
  transform: translate(-15px, -15px);
}
/* line 34, ../src/animations/ball-zig-zag.scss */
.ball-zig-zag > div {
  background-color: white;
  width: 15px;
  height: 15px;
  border-radius: 100%;
  margin: 2px;
  animation-fill-mode: both;
  position: absolute;
  margin-left: 15px;
  top: 30px;
  left: 30px;
}
/* line 43, ../src/animations/ball-zig-zag.scss */
.ball-zig-zag > div:first-child {
  animation: ball-zig 0.7s 0s infinite linear;
}
/* line 47, ../src/animations/ball-zig-zag.scss */
.ball-zig-zag > div:last-child {
  animation: ball-zag 0.7s 0s infinite linear;
}
