@keyframes line-scale-party {
  /* line 5, ../src/animations/line-scale-random.scss */
  0% {
    transform: scale(1);
  }

  /* line 8, ../src/animations/line-scale-random.scss */
  50% {
    transform: scale(0.5);
  }

  /* line 12, ../src/animations/line-scale-random.scss */
  100% {
    transform: scale(1);
  }
}

/* line 19, ../src/animations/line-scale-random.scss */
.line-scale-party > div:nth-child(1) {
  animation-delay: random(100)/100-0.2s;
  animation-duration: random(100)/1000.3s;
}
/* line 19, ../src/animations/line-scale-random.scss */
.line-scale-party > div:nth-child(2) {
  animation-delay: random(100)/100-0.2s;
  animation-duration: random(100)/1000.3s;
}
/* line 19, ../src/animations/line-scale-random.scss */
.line-scale-party > div:nth-child(3) {
  animation-delay: random(100)/100-0.2s;
  animation-duration: random(100)/1000.3s;
}
/* line 19, ../src/animations/line-scale-random.scss */
.line-scale-party > div:nth-child(4) {
  animation-delay: random(100)/100-0.2s;
  animation-duration: random(100)/1000.3s;
}
/* line 29, ../src/animations/line-scale-random.scss */
.line-scale-party > div {
  background-color: white;
  width: 4px;
  height: 35px;
  border-radius: 2px;
  margin: 2px;
  animation-fill-mode: both;
  display: inline-block;
  animation-name: line-scale-party;
  animation-iteration-count: infinite;
  animation-delay: 0;
}
