@keyframes pacman-balls {
  /* line 7, ../src/animations/pacman.scss */
  75% {
    opacity: 0.7;
  }

  /* line 10, ../src/animations/pacman.scss */
  100% {
    transform: translate(-100px, -6.25px);
  }
}

/* line 23, ../src/animations/pacman.scss */
.pacman {
  position: relative;
}
/* line 17, ../src/animations/pacman.scss */
.pacman > div:nth-child(2) {
  animation: pacman-balls 1s 0s infinite linear;
}
/* line 17, ../src/animations/pacman.scss */
.pacman > div:nth-child(3) {
  animation: pacman-balls 1s 0.25s infinite linear;
}
/* line 17, ../src/animations/pacman.scss */
.pacman > div:nth-child(4) {
  animation: pacman-balls 1s 0.5s infinite linear;
}
/* line 17, ../src/animations/pacman.scss */
.pacman > div:nth-child(5) {
  animation: pacman-balls 1s 0.75s infinite linear;
}
/* line 28, ../src/animations/pacman.scss */
.pacman > div:first-of-type {
  width: 0px;
  height: 0px;
  border-right: 25px solid transparent;
  border-top: 25px solid white;
  border-left: 25px solid white;
  border-bottom: 25px solid white;
  border-radius: 25px;
}
/* line 41, ../src/animations/pacman.scss */
.pacman > div:nth-child(2),
.pacman > div:nth-child(3),
.pacman > div:nth-child(4),
.pacman > div:nth-child(5) {
  background-color: white;
  width: 15px;
  height: 15px;
  border-radius: 100%;
  margin: 2px;
  width: 10px;
  height: 10px;
  position: absolute;
  transform: translate(0, -6.25px);
  top: 25px;
  left: 100px;
}
