@keyframes square-spin {
  /* line 5, ../src/animations/square-spin.scss */
  25% {
    transform: perspective(100px) rotateX(180deg) rotateY(0);
  }

  /* line 8, ../src/animations/square-spin.scss */
  50% {
    transform: perspective(100px) rotateX(180deg) rotateY(180deg);
  }

  /* line 11, ../src/animations/square-spin.scss */
  75% {
    transform: perspective(100px) rotateX(0) rotateY(180deg);
  }

  /* line 14, ../src/animations/square-spin.scss */
  100% {
    transform: perspective(100px) rotateX(0) rotateY(0);
  }
}

/* line 21, ../src/animations/square-spin.scss */
.square-spin > div {
  animation-fill-mode: both;
  width: 50px;
  height: 50px;
  background: white;
  border: 1px solid red;
  animation: square-spin 3s 0s cubic-bezier(0.09, 0.57, 0.49, 0.9) infinite;
}
